.sidebar-container {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height:auto;
  }
  
  .sidebar-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .sidebar-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
  }
  
  .sidebar-btn.active {
    background-color: #e6f7ff;
  }
  