/* Custom Pagination */

.custom-navigation{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	gap:15px
}


.custom-pagination {
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  gap: 7px;
  border:0px solid black;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
	width:auto !important;
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #7B61FF;
  transform: scale(1.3);
  opacity: 1;
}

.custom-navigation .custom-prev,
.custom-navigation .custom-next{
	width:auto;
	border:none;
  outline:none;
  background:none;
	opacity:0.7;
  position:static;
  box-shadow:none;
  
}

.custom-navigation .custom-prev:hover,
.custom-navigation .custom-next:hover{
	opacity:1;
  border:none;
  outline:none;
}